<!DOCTYPE html>
<html lang="en">

   <head>
      <title>HomePage</title>
      <%- include('./partials/head') %>
   </head>

   <body>
      <%- include('./partials/nav') %>

      <div class="container mt-3">
         <form action="/blog/add-new" method="post" enctype="multipart/form-data">
            <div class="mb-3">
               <label for="title" class="form-label">Title</label>
               <input type="text" class="form-control" id="title" aria-describedby="title" name="title">
            </div>
            <div class="mb-3">
               <label for="coverImg" class="form-label">Cover image</label>
               <input class="form-control" name="coverImg" type="file" id="coverImg">
            </div>
            <div class="mb-3">
               <label for="body">Content</label>
               <textarea class="form-control" name="body" id="body"></textarea>
            </div>
            <div class="mb-3">
               <button class="btn btn-primary" type="submit">Submit</button>
            </div>
         </form>
      </div>

      <%- include('./partials/foot') %>
   </body>

</html>